<div class="contact">
    <div class="contact__container container">
        <h1 class="contact__container__title u-margin-block-big">Contact</h1>

        <div class="wrapper">

            <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.153807818275!2d26.080665215572004!3d44.430007109869614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff68a59bea55%3A0xc2b59b050ed8ffa7!2sBearingPoint%20Srl!5e0!3m2!1sro!2sro!4v1666196016988!5m2!1sro!2sro" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <address class="u-padding-small">
               <h2>Address:</h2> 
               <p>Izvor Street no. 80, Bucharest, District 4</p>
               <h2>Telephone: </h2>
               <p>+40789008877</p>
            </address>
        </div>
    </div>
</div>
