@import "src/shared/scss/utils";

.cart {
  min-height: 100vh;
  width: 100%;

  .cart__container {
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

    .mat-image {
      width: 60px;
      height: 60px;
    }

    .mat-table {
      width: 100%;

      @media only screen and (min-width: 56.25em) {
        width: 80%;
      }
    }

    .checkout-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      @media only screen and (min-width: 56.25em) {
        width: 80%;
      }
    }
  }

  .checkout-form__container {
    h1 {
      text-align: center;
    }
    .container {
      //   display: flex;
      /// flex-direction: column;
      // justify-content: center;
      // align-items: center;

      mat-form-field {
        width: 100%;
      }

      .total {
        //@at-root    display: flex;
        // justify-content: space-between;
        .actions {
          // justify-self: flex-start;

          .send-order:disabled {
            background-color: gray !important;
          }
        }
      }
    }
  }
}
