<div class="menu-showcase__item">
    <mat-card *ngIf="menuItem.type === 'Pizza'" class="menu-showcase__card">
      <mat-card-title class="menu-showcase__title u-padding-small">{{menuItem.name}}</mat-card-title>
      <img mat-card-image class="menu-showcase__image" [src]="menuItem.image" alt="">
      <mat-card-subtitle class="menu-showcase__subtitle">{{menuItem.price | currency:'EUR'}}</mat-card-subtitle>
      <mat-card-content class="menu-showcase__content">
        <span *ngFor="let topping of menuItem.toppings; let k = index">{{topping | titlecase}}<span *ngIf="k < menuItem.toppings.length - 1">, </span></span>
      </mat-card-content>
      <mat-card-actions class="menu-showcase__actions u-margin-bottom-small">
        <button [color]="addedToCart ? 'primary' : 'accent'" mat-raised-button class="menu-showcase__actions-button" *ngIf="!addedToCart" (click)="onAddToCartToggle()">Add to cart</button>
        <div class="menu-showcase__actions-button--added" *ngIf="addedToCart">
          <button mat-mini-fab (click)="onDecrease()" class="d-flex"><mat-icon class="u-primary">remove</mat-icon></button>
          <span class="d-flex">{{menuItem.quantity}} </span>
          <button mat-mini-fab (click)="onIncrease()" class="d-flex"><mat-icon class="u-primary">add</mat-icon></button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="menuItem.type === 'Pasta'" class="menu-showcase__card">
      <mat-card-title class="menu-showcase__title u-padding-small">{{menuItem.name}}</mat-card-title>
      <img mat-card-image class="menu-showcase__image" [src]="menuItem.image" alt="">
      <mat-card-subtitle class="menu-showcase__subtitle">{{menuItem.price | currency:'EUR'}}</mat-card-subtitle>
      <mat-card-content class="menu-showcase__content">
        <span *ngFor="let ingredient of menuItem.toppings; let k = index">{{ingredient | titlecase}}<span *ngIf="k < menuItem.toppings.length - 1">, </span></span>
      </mat-card-content>
      <mat-card-actions class="menu-showcase__actions u-margin-bottom-small">
        <button [color]="addedToCart ? 'primary' : 'accent'" mat-raised-button class="menu-showcase__actions-button" *ngIf="!addedToCart" (click)="onAddToCartToggle()">Add to cart</button>
        <div class="menu-showcase__actions-button--added" *ngIf="addedToCart">
          <button mat-mini-fab (click)="onDecrease()" class="d-flex"><mat-icon class="u-primary">remove</mat-icon></button>
          <span class="d-flex">{{menuItem.quantity}} </span>
          <button mat-mini-fab (click)="onIncrease()" class="d-flex"><mat-icon class="u-primary">add</mat-icon></button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>