@import 'src/shared/scss/utils';
@import 'src/shared/scss/colours';
.menu-showcase__item {
    width: 25rem;
    .menu-showcase__card {
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .menu-showcase__title {
      }

      .menu-showcase__image {
        max-height: 25rem;
      }

      .menu-showcase__subtitle {
        font-weight: 500;
      }

      .menu-showcase__actions{
        width: 30%;
        .menu-showcase__actions-button{
          color: $primary;
        }

        .menu-showcase__actions-button--added{
          color: $accent;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          background-color: $primary;
          //padding: 0 16px;
          //min-width: 64px;
          line-height: 50px;
          border-radius: 6px;
        }
      }
    }
  }