<footer class="footer u-padding-medium u-margin-bottom-big">
  <div class="footer__container container">
    <div class="footer__container__brand u-padding-medium">
        Stagiono Pizza & Pasta
    </div>
    <div class="footer__container__nav u-padding-small">
      <mat-nav-list class="footer__container__nav__nav-list">
        <mat-list-item class="footer__container__nav__nav-list__item">
          <a href=" "  class="footer__container__nav__nav-list__item__link">Company</a>
        </mat-list-item>

        <mat-list-item class="footer__container__nav__nav-list__item">
          <a href="" class="footer__container__nav__nav-list__item__link">Contact us</a>
        </mat-list-item>

        <mat-list-item class="footer__container__nav__nav-list__item">
          <a href="" class="footer__container__nav__nav-list__item__link">Carrers</a>
        </mat-list-item>

        <mat-list-item class="footer__container__nav__nav-list__item"><a href="" class="footer__container__nav__nav-list__item__link">Privacy Policy</a></mat-list-item>
        <mat-list-item class="footer__container__nav__nav-list__item"><a href="" class="footer__container__nav__nav-list__item__link">Terms</a></mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</footer>
