@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
html {
    font-size: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeSpeed;
    line-height: 1.4;
}