<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [mode]="isSmall ? 'over' : 'side'"
    [opened]="showSidenav === true || !isSmall"
    #sidenav
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let link of navigationLinks; let i = index"
        [routerLink]="[link.link === 'logout' ? '/login' : link.link]"
        (click)="link.link === 'logout' && onLogout()"
        [ngClass]="{'border-top-primary': link.link === 'login'}"
      >
        <a matLine [routerLink]="[link.link]">{{ link.link | titlecase }}</a>
        <a [routerLink]="[link.link]" mat-icon-button>
          <mat-icon
            *ngIf="link.link === 'cart'; else default"
            [matBadge]="cart.length"
            matBadgeColor="accent"
            >{{ link.icon }}</mat-icon
          >
          <ng-template #default>
            <mat-icon>{{ link.icon }}</mat-icon>
          </ng-template>
        </a>
      <!-- </mat-list-item>
      <mat-list-item
      >
      <a matLine [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/login']">
        <mat-icon>person</mat-icon>
      </a>
      </mat-list-item
    >
    <mat-list-item (click)="onLogout()" class="d-flex-space"
      >Logout <mat-icon color="warn">stop</mat-icon>
    -->
      </mat-list-item
    > 
    </mat-nav-list>

    <!-- <mat-nav-list>
      <mat-list-item
        >
        <a matLine [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/login']">
          <mat-icon>supervised_user_circle</mat-icon>
        </a>
        </mat-list-item
      >
      <mat-list-item (click)="onLogout()" class="d-flex-space"
        >Logout <mat-icon color="warn">stop</mat-icon>
        
        </mat-list-item
      >
    </mat-nav-list> -->

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet #router></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
