.sidenav-container {
  width: 100%;
  height: 100%;

  .mat-sidenav-content{
    //min-height: 100vh;
    max-height: 100vh;
  }

  .mat-nav-list{
    transition: all .1s ease;
  }

  .mat-list-item{
    transition: all .2s ease;
  }

  .mat-list-item:hover, .mat-list-item:focus{
    background-color: #eadac0;
  }
  }